---
- name: Converge
  hosts: all
  gather_facts: true
  tasks:
    - name: Apply role under test
      ansible.builtin.include_role:
        name: okunix.git.git
      vars:
        git_users:
          - name: yusuf
            ssh_keys: "{{ lookup('ansible.builtin.url', 'https://github.com/okunix.keys') | split(',') }}"

    - name: Initialize git project
      ansible.builtin.include_role:
        name: okunix.git.git
        tasks_from: add_project.yml
      vars:
        git_project_name: test_project
